<!DOCTYPE html>
<html>

<head>
    @{
        ViewBag.Title = "Kalender Uge";
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kalender</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CSS/Calendar.css">
</head>

<body>
    <div class="card" style="background-color: #ffffff;">
        <div class="card-header text-center" style="background-color: #ffffff;">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link active" id="month" style="color: rgb(255,255,255);background-color: rgb(5,158,232);">@Html.ActionLink("Måned", "CalendarMonth")</a></li>
                <li class="nav-item"><a class="nav-link active" style="color: #059ee8;background-color: #ffffff;">@Html.ActionLink("Uge", "CalendarWeek")</a></li>
                <li class="nav-item"><a class="nav-link active"  id="day" style="color: rgb(255,255,255);background-color: #059ee8;">@Html.ActionLink("Dag", "CalendarDay")</a></li>
            </ul>
        </div>
    </div>
    <div class="card" style="background-color: #ffffff;">
        <div class="card-header text-center" style="background-color: #ffffff;">
            <div class="btn-toolbar" style="padding: 0;margin: 0;">
                <div class="btn-group btn-group-sm" role="group" style="padding: 0;margin: 0;height: 36px;font-size: 12px;">
					@using (Html.BeginForm("CalendarDay", "Schedules", new { weekId = ViewBag.weekId - 1 }))
					{
                    <button class="btn btn-primary border rounded" type="button">Forrige uge</button>
					}					
					@using (Html.BeginForm("CalendarDay", "Schedules", new { weekId = ViewBag.weekId - ViewBag.weekId }))
					{
                    <button class="btn btn-primary border rounded" type="button" style="margin: 0px 10px 0px 10px;">Denne uge</button>
					}
					@using (Html.BeginForm("CalendarDay", "Schedules", new { weekId = ViewBag.weekId + 1 }))
					{
                    <button class="btn btn-primary border rounded" type="button";">Næste uge</button>
					}

                    <button class="btn btn-secondary border rounded" type="button" disabled="disabled" style="margin: 0px 0px 0px 10px;">Uge 29</button></div>
            </div>
        </div>
        <div class="card-body" style="background-color: #ffffff;padding: 20px;">
            <div class="row weekdays" id="section1">
              <div class="column" id="monday">
                <h3>Mandag 23/06</h3>
                <div>
            </div>
                <h4>Vagt type: </h4>
                <h4>Start tidspunkt: </h4>
                <h4>Slut tidspunkt: </h4>
              </div>
              <div class="column" id="tuesday">
                <h3>Tirsdag 24/06</h3>
                <h4>Vagt type: </h4>
                <h4>Start tidspunkt: </h4>
                <h4>Slut tidspunkt: </h4>
              </div>
              <div class="column" id="wednessday">
                <h3>Onsdag 25/06</h3>
                <h4>Vagt type: </h4>
                <h4>Start tidspunkt: </h4>
                <h4>Slut tidspunkt: </h4>
              </div>
              <div class="column" id="thursday">
                <h3>Torsdag 26/06</h3>
                <h4>Vagt type: </h4>
                <h4>Start tidspunkt: </h4>
                <h4>Slut tidspunkt: </h4>
              </div>
              <div class="column" id="friday">
                <h3>Fredag 27/06</h3>
                <h4>Vagt type: </h4>
                <h4>Start tidspunkt: </h4>
                <h4>Slut tidspunkt: </h4>
              </div>
              <div class="column" id="saturday">
                <h3>Lørdag 28/06</h3>
                <h4>Vagt type: </h4>
                <h4>Start tidspunkt: </h4>
                <h4>Slut tidspunkt: </h4>
              </div>
              <div class="column" id="sunday">
                <h3>Søndag 29/06</h3>
                <h4>Vagt type: </h4>
                <h4>Start tidspunkt: </h4>
                <h4>Slut tidspunkt: </h4>
              </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>